{
  // "presets": ["@babel/preset-typescript", "@babel/preset-react", "@babel/preset-env"],
  "presets": [
    "@babel/env",
    ["@babel/preset-react", { "runtime": "automatic" }],
    "@babel/preset-typescript"
  ],
  "plugins": [
     ["@babel/transform-runtime"]
  ]
}
